/* 设置 notification、message 层级在 loading 之上 */
.el-message,
.el-notification {
    z-index: 2070 !important;
}

/* el-alert */
.el-alert {
    border: 1px solid;
}
.el-popover.el-popper {
    width: 310px !important;
}
